.login {
  display: flex;
  max-width: 500px;
  width: 90%;
  background-color: aqua;
  margin: auto;
  flex-direction: column;
  margin: 1em auto;
  padding: 1em 0;
  border-radius: 0.25em;
  background-color: #e1e5ea;
}

.header {
  width: 90%;
  margin: 1em auto 0.8em;
  text-align: initial;
}

.label {
  width: 90%;
  font-size: 1.25rem;
  margin: 0.5em auto 0.25em;
}

.loginInput {
  padding: 0.5em;
  width: 90%;
  height: 2.5rem;
  margin: 0.5em auto;
  border-radius: 0.25em;
  border: none;
  font-size: 0.8rem;
}

.button {
  border: none;
  font-size: 1.1rem;
  padding: 0.5em;
  margin: 1.5em auto 1em;
  width: 90%;
  border-radius: 0.25em;
  background-color: #a7bbc7;
  height: 2.5rem;
}

.button:hover {
  transform: scale(1.02);
}
